<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<script>
  let query = {}
  // 解析地址栏的参数
  if (location.search) {
    location.search.slice(1).split('&').forEach(raw => {
      let map = raw.split('=')
      query[map[0]] = decodeURIComponent(map[1])
    })
  }
  // 判断是否已经拿到数据
  if (query.openid) {
    // 如果地址栏已经有用户信息，则输出到页面
    document.write('<pre>' + JSON.stringify(query, null, 4) + '</pre>')
  } else {
    // 重定向到配置好的端点，要带上 referer 参数，获取到用户信息后才能正确跳转回当前页面
    location.href = 'http://wx-test.baisy.xyz/auth?referer=' + encodeURIComponent(location.href)
  }
</script>
</body>
</html>
